@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-gray-200 text-gray-900;
  }

  html.dark body {
    @apply bg-gray-950 text-gray-50;
  }
}

body {
  background-color: #031519;
}

@keyframes plasma-shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Custom utility class to generate the lightning ripple */
.animate-plasma {
  background-size: 240% 100%;
  animation: plasma-shimmer 4s ease-in-out infinite;
}
